body
{
    font-family: 'Segoe UI';
    font-size: 2.5vh;
}
img
{
    width: 1000px;
    height: auto;
    margin: 20px 0 20px 0;
    box-shadow: #bda4ff 0 0 20px;
}
    img:hover
    {
        box-shadow: white 0 0 20px;
    }
img[src="img/sun.png"]
{
    filter: brightness(0) invert(1);
}
#header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#switchBackground
{
    width: 6vh;
    height: 6vh;
    margin: 24px;
    background-size: 6vh 6vh;
    position: fixed;
    top: 5px;
    right: 5px;
}
.light
{
    background-image: linear-gradient(to bottom left, #240672, #140539, #090219, black, black, black);
    background-attachment: fixed;
    color: ghostwhite;
}

    .light #switchBackground
    {
        background-image: url('img/sun.png');
        filter: brightness(0) invert(1);
    }

.dark
{
    background-image: linear-gradient(to bottom left, #FFDD40, #fff2b4,#fffef8,#fffef8,#fffef8);
    background-attachment: fixed;
    color: black;
}

    .dark #switchBackground
    {
        background-image: url('img/moon.png');
    }

figure
{
    text-align: center;
    font-style: italic;
}
.nesting
{
    list-style-type: " - ";
}
li
{
    margin-top: 15px;
}
h2
{
    margin: 50px 0 50px 0;
}